    </div>
    <!-- /container -->

    <!-- Bootstrap core JavaScript
        ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery-1.11.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <!-- Code formatting -->
    <script src="/js/prettify.js"></script>

    <script type='text/javascript'>
        $(function () {
            $('pre').addClass('prettyprint');
            prettyPrint();
        })
    </script>

    <!-- Google Analytics -->
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-77618-11']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>

    <footer>
        <div class="footer text-center">
            Copyright &copy; - Dan Esparza. <a href="https://twitter.com/danesparza" class="twitter-follow-button">Follow @danesparza on Twitter</a>
        </div>
    </footer>

</body>

</html>